@model IEnumerable<DataEntitiesWizards.Models.GrantType>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Community Assist </h1>
    <p class="lead"> A Community resource to Help you through the rough times. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GrantTypeKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantTypeMaximum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantTypeLifetimeMaximum)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GrantTypeKey)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.GrantTypeDescription)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.GrantTypeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.GrantTypeMaximum)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.GrantTypeLifetimeMaximum)
        </td>

    </tr>
    }

</table>